[MODEL]
model_id = 1
model_name = r21d_clf_small
model_type = r21d_clf_small
ex_mode = training

[DATASET]
dataset_name = bouncingMNIST
tr_size = 8000
val_size = 4000

[NETWORK ARCHITECTURE]
use_batch_norm = True
use_layer_norm = False
use_l2_reg = False

[TRAINING]
epoch = 200
batch_size = 32
learning_rate = 1e-3

[VISUALIZATION]
svm_analysis = True
vis_epoch = 10
plot_individually = True
verbosity = 1

[CHECKPOINT]
checkpoint_epoch = 10
keep_checkpoint_max = 2
redo = False

[INTEGRATION]
slack_bot = True

[DIRECTORIES]
plt_dir = _outputs/{}/plots
model_dir = _outputs/{}/models
config_dir = _outputs/{}/configs

[HARDWARE]
gpu_id = 0
